@{
    var highLowB3List = ViewData["HighLowB3"] as IEnumerable<Finance.Domain.Active>;
}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>@ViewData["Title"] - Finanças</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/Finance.styles.css" asp-append-version="true" />
        <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="owl-carousel/assets/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
<body>
    @if (highLowB3List != null)
    {
        <div class="ticker-container">
            <div class="ticker-wrap">
                <div class="ticker">
                    @foreach (var active in highLowB3List)
                    {
                        <div class="ticker-item">
                            <img src="@active.Logo.Small" alt="@active.Name" class="ticker-logo" />
                            <span>@active.Name</span>
                            <span>@active.Price.ToString("C")</span>
                            <span class="ticker-change @(active.ChangePercent >= 0 ? "positive" : "negative")">
                                @(active.ChangePercent >= 0 ? "+" : "")@active.ChangePercent.ToString()
                            </span>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

    
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent" id="gtco-main-nav">
        <div class="container">
            <a class="navbar-brand">+</a>
            <button class="navbar-toggler" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse">
                <span class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="StockExchange" asp-action="Index">Ações</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="BrazilianDepositaryReceipts" asp-action="Index">Bdr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="RealEstateInvestmentFund" asp-action="Index">Fii</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AllStockExchange" asp-action="Index">Todos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CalculationOfTheBarsi" asp-action="Index">Barsi</a>
                        </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

        <script src="js/jquery-3.3.1.slim.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="owl-carousel/owl.carousel.min.js"></script>
        <script src="js/main.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>

<script>
    $(document).ready(function () {
        // JavaScript to enable the ticker animation
        let ticker = $('.ticker');
        let tickerWidth = ticker.width();
        let windowWidth = $(window).width();
        let speed = 50000;

        function moveTicker() {
            ticker.animate({ marginLeft: `-${tickerWidth}px` }, speed, 'linear', function () {
                ticker.css('margin-left', `${windowWidth}px`);
                moveTicker();
            });
        }

        moveTicker();
    });
</script>