@model IEnumerable<Finance.Domain.Barsi>

<h4>Total de ativos: @Model.Count()</h4>

<table id="minhaTabela" class="table table-hover">
    <thead>
        <tr>
            <th id="codigo" name="codigo" scope="col" class="text-center">Código</th>
            <th id="tipo" name="tipo" scope="col" class="text-center">Tipo</th>
            <th id="nome" name="nome" scope="col" class="text-center">Nome</th>
            <th id="yield" name="yield" scope="col" class="text-center">Yield últ. 12 meses(R$)</th>
            <th id="preco" name="preco" scope="col" class="text-center">Preço(R$)</th>
            <th id="resultado" name="resultado" scope="col" class="text-center">Resultado/Mês</th>
            <th id="resultado" name="resultado" scope="col" class="text-center">Resultado/Ano</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    <button id="codigo" name="codigo" type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Código">
                        @item.Symbol
                        <img src="~/icon/copy.png" onclick="copyToClipboard('@item.Symbol')" style="height:14px;" />
                    </button>
                </td>
                <td class="text-center capitalize-first-letter">
                    <button id="tipo" name="tipo" type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Código">
                        @item.Kind.ToUpper()
                    </button>
                </td>
                <td class="text-center">
                    <button id="name" name="name" type="button" class="btn" data-toggle="tooltip" data-placement="top" title="@item.Name">
                        @item.Name
                    </button>
                </td>
                <td class="text-center">
                    <button id="yield" name="yield" type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Yield últ. 12 meses(R$)">
                        R$@item.Yield_12m
                    </button>
                </td>
                <td class="text-center">
                    <button id="price" name="price" type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Preço">
                        R$@item.Price.ToString("F2")
                    </button>
                </td>
                <td class="text-center">
                    <button id="result" name="result" type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Resultado(%)">
                        @item.Result_Month.ToString("F2")%
                    </button>
                </td>
                <td class="text-center">
                    <button id="result" name="result" type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Resultado(%)">
                        @item.Result_Year.ToString("F2")%
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

