@model Trend;
@{
    ViewBag.Title = "Principais Índices Mundiais Hoje";
}
<h3>Principais Índices Mundiais Hoje - Bolsa de valores</h3>
<p>B3, preço de ações, dividendos, indices, cotação do dólar e várias outras moedas.</p>
<ul>
    <li>@Model.Results.Stocks.IBOVESPA.Name - @Model.Results.Stocks.IBOVESPA.Location - @Model.Results.Stocks.IBOVESPA.Points</li>
    <li>@Model.Results.Stocks.IFIX.Name - @Model.Results.Stocks.IFIX.Location - @Model.Results.Stocks.IFIX.Points</li>
    <li>@Model.Results.Stocks.DOWJONES.Name - @Model.Results.Stocks.DOWJONES.Location - @Model.Results.Stocks.DOWJONES.Points</li>
    <li>@Model.Results.Stocks.NASDAQ.Name - @Model.Results.Stocks.NASDAQ.Location - @Model.Results.Stocks.NASDAQ.Points</li>
    <li>@Model.Results.Stocks.CAC.Name - @Model.Results.Stocks.CAC.Location - @Model.Results.Stocks.CAC.Points</li>
    <li>@Model.Results.Stocks.NIKKEI - @Model.Results.Stocks.NIKKEI.Location - @Model.Results.Stocks.NIKKEI.Points</li>
    <li>@Model.Results.Currencies.ARS.Name - @Model.Results.Currencies.ARS.Buy</li>
    <li>@Model.Results.Currencies.AUD.Name - @Model.Results.Currencies.AUD.Buy</li>
    <li>@Model.Results.Currencies.BTC.Name - @Model.Results.Currencies.BTC.Buy</li>
    <li>@Model.Results.Currencies.CAD.Name - @Model.Results.Currencies.CAD.Buy</li>
    <li>@Model.Results.Currencies.CNY.Name - @Model.Results.Currencies.CNY.Buy</li>
    <li>@Model.Results.Currencies.USD.Name - @Model.Results.Currencies.USD.Buy</li>
    <li>@Model.Results.Currencies.EUR.Name - @Model.Results.Currencies.EUR.Buy</li>
    <li>@Model.Results.Currencies.GBP.Name - @Model.Results.Currencies.GBP.Buy</li>
    <li>@Model.Results.Currencies.JPY.Name - @Model.Results.Currencies.JPY.Buy</li>
</ul>