@model IEnumerable<Finance.Domain.Lynch>

<h4>Total de ativos: @Model.Count()</h4>

<table id="minhaTabela" class="table table-hover">
    <thead>
        <tr>
            <th id="codigo" name="codigo" scope="col" class="text-center">Código</th>
            <th id="tipo" name="tipo" scope="col" class="text-center">Tipo</th>
            <th id="nome" name="nome" scope="col" class="text-center">Nome</th>
            <th id="earningsPerShare" name="earningsPerShare" scope="col" class="text-center">EPS</th>
            <th id="annualGrowthRate" name="annualGrowthRate" scope="col" class="text-center">Taxa de Crescimento</th>
            <th id="preco" name="preco" scope="col" class="text-center">Preço(R$)</th>
            <th id="pERatio" name="pERatio" scope="col" class="text-center">PERatio</th>
            <th id="pEGRatio" name="pEGRatio" scope="col" class="text-center">PEGRatio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    <button id="codigo" name="codigo" type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Código">
                        @item.Symbol
                    </button>
                </td>
                <td class="text-center">
                    <button id="tipo" name="tipo" type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Código">
                        @item.Kind
                    </button>
                </td>
                <td class="text-center">
                    <button id="name" name="name" type="button" class="btn" data-toggle="tooltip" data-placement="top" title="@item.Name">
                        @item.Name
                    </button>
                </td>
                <td class="text-center">
                    <button id="earningsPerShare" name="earningsPerShare" type="button" class="btn" data-toggle="tooltip" data-placement="top" title="EPS">
                        @item.EarningsPerShare.ToString("F2")%
                    </button>
                </td>
                <td class="text-center">
                    <button id="growthRate" name="growthRate" type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Taxa de Crescimento">
                        @item.GrowthRate.ToString("F2")%
                    </button>
                </td>
                <td class="text-center">
                    <button id="price" name="price" type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Preço">
                        R$@item.Price
                    </button>
                </td>

                <td class="text-center">
                    <button id="pERatio" name="pERatio" type="button" class="btn" data-toggle="tooltip" data-placement="top" title="PERatio">
                        @item.PERatio.ToString("F2")%
                    </button>
                </td>
                <td class="text-center">
                    <button id="pEGRatio" name="pEGRatio" type="button" class="btn" data-toggle="tooltip" data-placement="top" title="PEGRatio">
                        @item.PEGRatio.ToString("F2")%
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

