@model List<Active>
@{

}
<h5 class="text-end" style="font-weight: 200;"><strong>Total de FIIs @Model.Count localizados</strong></h5>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="text-center">Código</th>
            <th scope="col" class="text-center">Nome</th>
            <th scope="col" class="text-center">Setor</th>
            <th scope="col" class="text-center">Preço(R$)</th>
            <th scope="col" class="text-center">Mudança últ. dia(%)</th>
            <th scope="col" class="text-center">Variação últ. dia(R$)</th>
            <th scope="col" class="text-center">Yield últ. 12 meses(%)</th>
            <th scope="col" class="text-center">Yield últ. 12 meses(R$)</th>
            <th scope="col" class="text-center">Valor patrimonial</th>
            <th scope="col" class="text-center">Valor patrimonial por cota</th>
            <th scope="col" class="text-center">Preço sobre valor patrimonial</th>
            <th scope="col" class="text-center">Valor de mercado (em milhões)</th>
            <th scope="col" class="text-center">Site</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Código">
                        @item.Symbol
                    </button>
                </td>
                <td>
                    <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="@item.Document">
                        @item.CompanyName
                    </button>
                </td>
                <td>
                    <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Setor">
                        @item.Sector
                    </button>
                </td>
                <td>
                    <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Preço">
                        R$@item.Price
                    </button>
                </td>
                <td>
                    <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Mudança últ. dia(%)">
                        @item.ChangePercent%
                    </button>
                </td>
                <td>
                    <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Variação últ. dia(R$)">
                        R$@item.ChangePrice
                    </button>
                </td>
                <td>
                    <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Yield últ. 12 meses(%)">
                        @item.Financials.Dividends.Yield_12m%
                    </button>
                </td>
                <td>
                    <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Yield últ. 12 meses(R$)">
                        R$@item.Financials.Dividends.Yield_12m_sum
                    </button>
                </td>
                <td>
                    <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Valor patrimonial">
                        R$@item.Financials.Equity
                    </button>
                </td>
                <td>
                    <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Valor patrimonial por cota">
                        R$@item.Financials.Equity_per_share
                    </button>
                </td>
                <td>
                    <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Preço sobre valor patrimonial">
                        R$@item.Financials.Price_to_book_ratio
                    </button>
                </td>
                <td>
                    <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Valor de mercado (em milhões)">
                        R$@item.MarketCap
                    </button>
                </td>
                <td><a href="@item.Website">@item.Name</a></td>
            </tr>
        }
    </tbody>
</table>